<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>

        <section class="page-title bg-title overlay-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">
                            <h3>Manage New Card Requests</h3>
                        </div>
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Manage new card request</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="section schedule">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>Table of <span class="alternate">Not manipulated Requests</span></h3>
                        </div>
                    </div>
                </div>
                <div class="schedule-contents bg-schedule">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active schedule-item" id="nov20">
                            <!-- Headings -->
                            <ul class="m-0 p-0">
                                <li class="headings">
                                    <div class="time">Name</div>
                                    <div class="speaker">National Number</div>
                                    <div class="subject">Address</div>
                                    <div class="venue">Action</div>
                                </li>
                                <!-- Schedule Details -->
                                <li class="schedule-details" th:each="req : ${requests}">
                                    <div class="block">
                                        <!-- time -->
                                        <div class="time">
                                            <!--<i class="fa fa-clock-o"></i>-->
                                            <span class="time" th:text="${req.full_name}"></span>
                                        </div>
                                        <!-- Speaker -->
                                        <div class="speaker">
                                            <!--<img src="images/speakers/speaker-thumb-one.jpg" alt="speaker-thumb-one"/>-->
                                            <span class="name" th:text="${req.nationalId}"></span>
                                        </div>
                                        <!-- Subject -->
                                        <div class="subject" th:text="${req.address}"></div>
                                        <div class="venue">
                                            <a th:href="@{/dashboard/manage-new-card/approve/} + ${req.id}">Approve</a>
                                            <a th:href="@{/dashboard/manage-new-card/reject/} + ${req.id}">Reject</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
