<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>

        <section class="page-title bg-title overlay-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">
                            <h3>My Card</h3>
                        </div>
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">
                                <a th:href="@{/my-cards/}">My Cards</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${myCard.id}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section pricing">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>My Card:  
                                <span class="alternate" th:text="${myCard.id}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Pricing Item -->
                        <div class="pricing-item featured">
                            <div class="pricing-heading">
                                <!-- Title -->
                                <div class="title">
                                    <h6>Rest Ammount</h6>
                                </div>
                                <!-- Price -->
                                <div class="price">
                                    <h2 th:text="${myCard.restAmmount}"></h2>
                                    <p>Liter</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Pricing Item -->
                        <div class="pricing-item featured">
                            <div class="pricing-heading">
                                <!-- Title -->
                                <div class="title">
                                    <h6>Expire Date</h6>
                                </div>
                                <!-- Price -->
                                <div class="price">
                                    <h2 th:text="${myCard.expireDate}"></h2>
                                    <p>Till Date</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>Table Of <span class="alternate">Historical Actions</span></h3>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="table-danger">Station</th>
                            <th scope="col" class="table-danger">Ammount</th>
                            <th scope="col" class="table-danger">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fillop : ${myCard.fillOperations}">
                            <td th:text="${fillop.station.name}"></td>
                            <td th:text="${fillop.ammount}"></td>
                            <td th:text="${fillop.createdDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="section contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>Table Of <span class="alternate">Fraud Attemps</span></h3>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="table-danger">Station</th>
                            <th scope="col" class="table-danger">type</th>
                            <th scope="col" class="table-danger">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fraudop : ${myCard.fraudOperations}">
                            <td th:text="${fraudop.station.name}"></td>
                            <td th:text="${fraudop.type}"></td>
                            <td th:text="${fraudop.createdDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>