<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <title>TODO supply a title</title>
    </head>
    <body class="body-wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>
    <section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Your request Added Successfuly</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item">Request Number</li>
				  <li class="breadcrumb-item active"><span th:text="${requestId}"></span></li>
				</ol>
			</div>
		</div>
	</div>
    </section>
    <footer class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <div class="footer-logo">
                <h4 style="color: #aeaee5">That's all</h4>
            </div>
            <ul class="social-links-footer list-inline">
                <li class="list-inline-item" style="background: none; min-width: 200px;">
                <a th:href="@{search-stop-request}"  style="background: none; min-width: 200px;">
                    Search for request status</a>
              </li>
              <li class="list-inline-item" style="background: none; min-width: 200px;">
                <a th:href="@{/}" style="background: none; min-width: 200px;">
                    Back home</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
</footer>
    <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
