<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="banner">
        <section class="banner bg-banner-one overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Content Block -->
                        <div class="block">
                            <!-- Coundown Timer -->
                            <div class="timer"></div>
                            <h1>Smart Card</h1>
                            <h2>Solution of 2019</h2>
                            <!--<a href="#" class="btn btn-white-md">get ticket now</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>