<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}">Title</title>
    <link href="" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    
    <link href="" th:href="@{/plugins/font-awsome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="" th:href="@{/plugins/magnific-popup/magnific-popup.css}" rel="stylesheet"/>
    <link href="" th:href="@{/plugins/slick/slick.css}" rel="stylesheet"/>
    <link href="" th:href="@{/plugins/slick/slick-theme.css}" rel="stylesheet"/>
    <link href="" rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>
<body>

</body>
</html>