<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Register</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        
        <section class="registration">
            <div class="container-fuild p-0">
                <div class="row">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="service-block bg-service overlay-primary text-center">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <!-- Service item -->
                                    <div class="service-item">
                                        <i class="fa fa-microphone"></i>
                                        <h5>We raise your voice</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!-- Service item -->
                                    <div class="service-item">
                                        <i class="fa fa-flag"></i>
                                        <h5>Notifications</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!-- Service item -->
                                    <div class="service-item">
                                        <i class="fa fa-ticket"></i>
                                        <h5>Seek a reservation</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!-- Service item -->
                                    <div class="service-item">
                                        <i class="fa fa-calendar"></i>
                                        <h5>Events reminder</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="registration-block bg-registration overlay-dark">
                            <div class="block">
                                <div class="title text-left">
                                    <h3>Register to <span class="alternate">Smart Card Platform</span></h3>
                                    <p>More services available</p>
                                </div>
                                <form th:object="${user}" th:action="@{users/save}" class="row" method="post">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control main" th:field="*{username}" placeholder="Username" required="required"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control main" th:field="*{email}" placeholder="Email" required="required"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control main" th:field="*{password}" placeholder="Password"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control main" th:field="*{idNum}" placeholder="National Number" required="required"/>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-white-md">Register Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>