<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>

        <section class="section contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>Keep in <span class="alternate">Touch</span></h3>
                            <p>All of your information will be secret.</p>
                        </div>
                    </div>
                </div>
                <form th:object="${complaint}" th:action="@{compalint/save}" class="row" method="post">
                    <div class="col-md-6">
                        <input type="email" class="form-control main" name="email" th:field="*{email}"  placeholder="Email"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control main" name="address" th:field="*{address}" placeholder="Address"/>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control main" th:field="*{type}">
                                <option value="Card using bug">(Type) Card using bug</option>
                                <option value="Employee Error">(Type) Employee Error</option>
                                <option value="Station Error">(Type) Station Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control main" name="title" th:field="*{title}" placeholder="Title"/>
                    </div>

                    <div class="col-md-12">
                        <textarea name="message" th:field="*{message}" class="form-control main" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-main-md">Send Complaint</button>
                    </div>
                </form>
            </div>
        </section>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>