<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <section class="page-title bg-title overlay-dark" style="min-height: 350px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">
                            <h2 style="color: #b7bce6">Your Complaint Added Successfuly</h2>
                        </div>
<!--                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item">Request Number</li>
                            <li class="breadcrumb-item active"><span th:text="${requestId}"></span></li>
                        </ol>-->
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block text-center">
                            <div class="footer-logo">
                                <h4 style="color: #aeaee5">That's all</h4>
                            </div>
                            <ul class="social-links-footer list-inline">
                                <li class="list-inline-item" style="background: none; min-width: 200px;">
                                    <a th:href="@{faq}"  style="background: none; min-width: 200px;">
                                        FAQs</a>
                                </li>
                                <li class="list-inline-item" style="background: none; min-width: 200px;">
                                    <a th:href="@{/}" style="background: none; min-width: 200px;">
                                        Back home</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
