<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <section class="page-title bg-title overlay-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">
                            <h3>Closest Stations</h3>
                        </div>
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Closest Stations</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="section contact-form">
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="table-danger">Station</th>
                            <th scope="col" class="table-danger">Address</th>
                            <th scope="col" class="table-danger">Ammount</th>
                            <th scope="col" class="table-danger">Queue</th>
                            <th scope="col" class="table-danger">Distance</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
        </section>
        <section class="map new">
                <div id="map" style="width: 100%; height: 450px; background: grey"></div>
        </section>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script th:src="@{/js/stations-map.js}"></script>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>