<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head th:replace="fragments/header :: header">
        <meta charset="UTF-8"/>
        <title>Smart Card</title>
    </head>
    <body class="body-wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>

        <section class="page-title bg-title overlay-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title">
                            <h3>Stations</h3>
                        </div>
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active">Stations</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="section schedule">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>Table of <span class="alternate">Stations</span></h3>
                            <p th:if="${role != null}">
                                <a th:if="${#strings.toString(role)} == 'ADMIN'" th:href="@{/manage-stations/new-station}">Add new station</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="schedule-contents bg-schedule">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active schedule-item" id="nov20">
                            <!-- Headings -->
                            <ul class="m-0 p-0">
                                <li class="headings">
                                    <div class="time">Name</div>
                                    <div class="speaker">Address</div>
                                    <div class="subject">Ammount</div>
                                    <div class="venue">Queue</div>
                                    <!--<div class="venue">Action</div>-->
                                </li>
                                <!-- Schedule Details -->
                                <li class="schedule-details" th:each="station : ${stations}">
                                    <div class="block">
                                        <!-- time -->
                                        
                                            <div class="time">
                                                <span class="time" th:text="${station.name}"></span>
                                                <a th:if="${#strings.toString(role)} == 'STATION_EMP'" th:href="@{/station/} + ${station.id}">Manage</a>
                                            </div>
                                            <div class="speaker">
                                                <span class="time" th:text="${station.address}"></span>
                                            </div>
                                            <div class="subject" th:text="${station.ammount}"></div>
                                            <div class="venue" th:text="${station.queueCount}"></div>
                                            <!--<div class="venue" th:if="${role != null}">-->
                                        <!--<a th:href="@{/manage-stations/delete/} + ${station.id}">Delete</a>-->
                                    <!--</div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>